@import "_variables.scss";

.registration-form-template {
	position: relative;
	.components-sidebar {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1;
	}
	.components-topbar {
		width: calc(100% - 200px);
		position: fixed;
		top: 0;
		right: 0;
		z-index: 1;
	}
	.grid-container {
		width: calc(100% - 200px);
		padding: 20px 0;
		position: absolute;
		top: 61px;
		left: 200px;
		display: flex;
    	flex-direction: column;
    	flex-wrap: nowrap;
    	justify-content: space-around;
    	align-content: center;
    	align-items: center;
    	background-color: $background-container;
	}
}