/* Colors */
$background-white: #ffffff;
$background-black: #191919;
$background-black-hover:#282828;
$background-container: #f3f3f1; 
$font-grey: #a6a6a6;
$font-sidebar-grey: #999999;
$button-orange: #f58220;
$font-blue: #C2D2DD;

/* Fonts Size */
$paragraph-font-size: 16px;

/* Fonts Family */
$main-font: 'Open Sans', sans-serif;
$logo-font: 'Kalam', cursive;