/* Colors */
$background-white: #ffffff;
$background-black: #191919;
$background-black-hover:#282828; 
$font-grey: #a6a6a6;
$font-sidebar-grey: #999999;
$button-orange: #f58220;

/* Fonts Size */
$paragraph-font-size: 16px;

/* Fonts Style */
$main-font: 'Open Sans', sans-serif;
$logo-font: 'Kalam', cursive;