/* Pliki importowane */
@import "_variables.scss";
@import "mixins.scss";
@import "normalize.scss";
@import "layout.scss";

/* Components */
@import "components/sidebar.scss";
@import "components/topbar.scss";
@import "components/refresh-button.scss";
@import "components/text-button.scss";

/* Sections */
/*@import "section/registration_form";

/* Pages / Views */
/*@import "pages/registration"; */

body {
	h1 {
		font-style: $main-font;
		font-size: 24px;
		font-weight: bold;
		color: $font-grey;
	}
	p {
		font-style: $main-font;
		font-size: $paragraph-font-size;
		color: $font-grey;
	}
}