@import '../_variables.scss';

.components-box-counter {
	display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-family: $main-font;
    .row-box {
    	margin: 10px 20px;
    	display: flex;
    	flex-direction: row;
    	flex-wrap: nowrap;
    	justify-content: space-between;
    	align-content: center;
    	align-items: center;
    	border-bottom: 1px solid #a6a6a6;
    	.text-row {
    		font-weight: 700;
    	}
    	.count-row {
    		color: $background-black;
    		margin-left: 200px;
    	}
    }
}