@import '../_variables.scss';

.components-box-counter {
    width: 100%;
	display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    font-family: $main-font;
    margin: 20px 0;
    .column-box {
        width: 45%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        .row-box {
            width: 100%;
    	   display: flex;
    	   flex-direction: row;
    	   flex-wrap: nowrap;
    	   justify-content: space-between;
    	   align-content: center;
    	   align-items: center;
    	   border-bottom: 1px solid #a6a6a6;
    	   .text-row {
    	       font-weight: 700;
    	   }
    	   .count-row {
    	       color: $background-black;
    	   }
        }
    }
}