@import "../_variables";

.refresh-button {
	width: auto;
	height: auto;
	margin: 10px;
	padding: 10px;
	color: white;
	background-color: $button-orange;
	border: 2px solid $button-orange;
	font-size: 24px;
	border-radius: 5px;
	display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    fill: #ffffff;
    cursor: pointer;
	svg {
		height: 16px;
		width: 16px;
	}
	&:hover {
		fill: $button-orange;
		background-color: #ffffff;
	}
}