@import '../_variables.scss';

.components-sidebar {
	width: 200px;
	height: 100%;
	background-color: $background-black;
	color: $font-sidebar-grey;
	fill: $font-sidebar-grey;
	font-family: $main-font;
	.logo {
		display: flex;
		margin: 20px;
		align-items: center;
		justify-content: space-between;
		h1 {
			color: white;
			font-family: $logo-font;
			margin: 0;
		}
		i {
			font-size: 32px;
			&:hover {
				cursor: pointer;
			}
		}
	}
	ul{
		margin: 0;
        padding: 0;
        list-style-type: none;
        font-weight: 400;
        position: relative;
        li {
        	display: flex;
        	padding: 10px;
			align-items: center;
			.sidebar-list {
				height: auto;
				display: inline-flex;
    			flex-direction: row;
    			flex-wrap: nowrap;
    			justify-content: center;
    			align-content: center;
    			align-items: center;
    			svg {
    				width: auto;
    				height: 14px;
    				padding: 4px;
    			}
    			h3 {
    				margin: 0;
    				font-size: 16px;
    				font-weight: 400;
    			}
    		}
			&:hover {
				background-color: $background-black-hover;
				color: #ffffff;
				fill: #ffffff;
				cursor: pointer;
				border-left: 3px solid $button-orange;
			}
        }
	}
	ul:after {
		content: "";
		width: 100%;
		border-bottom: 1px solid $font-sidebar-grey;
		position: absolute;
	}
	.manager-list {
		width: 100%;
		display: inline-block;
		h3 {
			padding: 10px;
			font-weight: 700;
		}
		.manager-list-place {
			padding: 10px;
			display: flex;
			align-items: center;
			img {
				width: 50px;
				height: 50px;
				border-radius: 50%;
				margin: 5px;
			}
			p {
				color: $font-blue;
			}
			&:hover {
				background-color: $background-black-hover;
				color: white;
				cursor: pointer;
				border-left: 3px solid $button-orange;
			}
		}
	}
}
