.components-sidebar {
	width: 100%;
	height: auto;
	background-color: $background-black;
	color: $font-sidebar-grey;
	.logo {
		display: flex;
		margin: 20px;
		align-items: center;
		justify-content: space-between;
		h1 {
			color: white;
			font-family: $logo-font;
			margin: 0;
		}
		i {
			font-size: 32px;
		}
	}
	ul{
		margin: 0;
        padding: 0;
        list-style-type: none;
        font-weight: 400;
        position: relative;
        li {
        	display: flex;
        	padding: 10px;
			align-items: center;
			i,
			h4 {
				margin: 5px;
			}
			&:hover {
				background-color: $background-black-hover;
				color: white;
				cursor: pointer;
				border-left: 3px solid $button-orange;
			}
        }
	}
	ul:after {
		content: "";
		width: 100%;
		border-bottom: 1px solid $font-sidebar-grey;
		position: absolute;
	}
	.manager-list {
		width: 100%;
		display: inline-block;
		h3 {
			padding: 10px;
		}
		.manager-list-place {
			padding: 10px;
			display: flex;
			align-items: center;
			img {
				border-radius: 50%;
				margin: 5px;
			}
			&:hover {
				background-color: $background-black-hover;
				color: white;
				cursor: pointer;
				border-left: 3px solid $button-orange;
			}
		}
	}
}