@import '../_variables.scss';

.components-table {
	width: 100%;
	height: auto;
	border-collapse: collapse;
	font-family: $main-font;
	tr {
		&:hover {
			background-color: $background-container;
			.table-icons {
				visibility: visible;	
			}
		}
		td {
			padding: 0 20px;
			border: 1px solid $font-grey;
			border-left: none;
			border-right: none;
			p {
				font-weight: 700;
			}
			a {
				text-decoration: none;
			}
			.table-icons {
				display: inline-flex;
    			flex-direction: row;
    			flex-wrap: nowrap;
    			justify-content: space-between;
    			align-content: center;
    			align-items: center;
    			visibility: hidden;
    			svg {
    				width: 15px;
    				height: 15px;
    				margin: 0 10px;
    				cursor: pointer;
    				&:hover {
    					fill: #f58220;
    				}
    			}
			}
		}
	}
}

@media (max-width: 550px) {
	.components-table {
		tr {
			display: inline-flex;
    		flex-direction: column;
    		flex-wrap: nowrap;
    		justify-content: center;
    		align-content: center;
    		align-items: center;
    		border-collapse: collapse;
    		border: 1px solid $font-grey;
			border-left: none;
			border-right: none;
			td {
				padding: 0 2px;
				border: none;
				.table-icons {
    				visibility: visible;
				}
			}
		}
	}
}