@import "../_variables.scss";

.components-topbar {
	width: calc(100% - 200px);
	height: 60px;
	color: $font-grey;
    font-family: $main-font;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-content: center;
	align-items: center;
    background-color: white;
	border-bottom: 1px solid $font-grey;
    .topbar-cell {
    	display: inline-flex;
    	flex-direction: row;
    	flex-wrap: nowrap;
    	justify-content: center;
    	align-content: center;
    	align-items: center;
    	height: 100%;
    	border-left: 1px solid $font-grey;
        fill: $font-grey;
        svg {
            height: 16px;
            width: auto;
        }
        svg,
        h3,
        p {
            padding: 6px;
            margin: 0;
        }
        p {
            color: $font-blue;
            font-size: 14px;
        }
    	&:hover {
            fill: $button-orange;
    		color: $button-orange;
    		cursor: pointer; 
            p {
                color: $button-orange;
            }
    	}
    }
}